.leaflet-container {
  display: flex;
  align-items: center;
  width: 90%;
  height: 90vh;
  border: 2px solid rgb(1, 172, 202);
  border-radius: 12px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
