body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.leaflet-container {
  display: flex;
  align-items: center;
  width: 90%;
  height: 90vh;
  border: 2px solid #e50027;
  border-radius: 12px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-popup {
  margin: 30px 0 30px 0;
  padding: 10px;
  background-color: rgb(47, 47, 47);
  border-radius: 10px;
  color: white;
}
