:root {
  --bg-primary: #1a172c;
  --bg-secondary: #f3a600;
  --fc-primary: aliceblue;
  --red: #ba003e;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-primary);
}

.heading__form {
  position: absolute;
  z-index: 4;
  top: 35vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaflet-container {
  display: flex;
  align-items: center;
  width: 70%;
  height: 70vh;
  border: 20px solid var(--red);
  border-radius: 12px;
  top: 35vh;
  position: absolute;
  z-index: 2;
}

.info-popup {
  margin: 30px 0 30px 0;
  padding: 10px;
  background-color: rgb(47, 47, 47);
  border-radius: 10px;
  color: white;
}
